*{
    margin: 0%;
    padding: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    background-color: #ecdcb6;
    outline: none;
}
.main{
    height: 105vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Box{
    background-color: #080909;
    padding: 15px;
    border-radius: 20px;
    box-shadow: #b9f8f8;
    display: grid;
    grid-template-columns: repeat(4,68px);
}
input{
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: #ecf0f3;
    box-shadow: inset -5px -5px 12px #ffffff,
                inset 5px 5px 12px rgb(0,0,0,.16);
    border: none;
    border-radius: 20px;
    color: rgb(4, 3, 3);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
}
button{
    height: 48px;
    width: 48px;
    box-shadow: inset -5px -5px 12px #ffffff,
    5px 5px 12px rgb(0,0,0,.16);
   
     border: none;
     border-radius: 50%;
     margin: 8px;  
     font-size: 16px;                
}
.equal{
    width: 115px;
    border-radius: 10px;
    background-color: rgb(99, 222, 253);
    box-shadow: inset -5px -5px 12px rgb(241, 241, 242);
    
}

.clear{
    background-color: rgb(15, 250, 207);
    box-shadow: inset  rgb(140, 215, 1);
    border-radius: 50px;
}